* {
	box-sizing: border-box;
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: hotpink;
	font-size: xx-large;
}

// container properties
// flex-direction: row | row-reverse | column | column-reverse
// flex-wrap: nowrap | wrap | wrap-reverse;

.container {
	background-color: hotpink;
	padding: 10px;
	width: fit-content;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.item {
	width: 200px;
	height: 200px;
	margin: 10px;
	background-color: aquamarine;
	display: flex;
	justify-content: center;
	align-items: center;
}
