* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: lightgray;
	color: hotpink;
	height: 100vh;
	font-size: xx-large;
	display: flex;
	justify-content: center;
	align-items: center;
}

// container properties
// flex-direction: row | row-reverse | column | column-reverse
// flex-wrap: nowrap | wrap | wrap-reverse
// flex flow is shorthand for direction and wrap
// justify-content: flex-start | flex-end | center | space-between
// | space-around | space-evenly | start | end | left | right ... + safe | unsafe;

.container {
	background-color: hotpink;
	padding: 10px;
	width: 80vw;
	height: 80vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	//	flex-flow: column wrap;
	justify-content: space-between;
}

.item {
	width: 200px;
	height: 200px;
	margin: 10px;
	background-color: aquamarine;
	display: flex;
	justify-content: center;
	align-items: center;
}
